<% post.comments.each do |comment| %>
  <div class="mb-2">
    <span>
      <strong class =  "no-text-decoration normal-color">
        <%= comment.user.username%>
      </strong>
    </span>
    <span><%= comment.content %></span>
    <% if comment.user %>
      <%= button_to "Delete", comment_path(comment),
        method: :delete, remote: true %>
        <%= button_to edit_comment_path(comment) do %>
          <i class = "fas fa-edit" aria-hidden = "true"></i>
        <% end %>
    <% end %>
  </div>
<% end %>
