
<div class="navigation">
  <div class="logo">
    <a class="no-underline" href="#">
      Instagram-Clone
    </a>
  </div>
  <div class="navigation-icons">
    <a href="#" class="navigation-link">
      <i class=""></i>
    </a>
      <%= link_to '---', user_session_path , class: "far fa-user-circle" %>
      <%= link_to '', destroy_user_session_path , class: "fas fa-sign-out-alt" %>
  </div>
</div>