
<div class="navigation">
  <div class="logo">
    <a class="no-underline" href="#">
      Instagram-Clone
    </a>
  </div>
  <div id="navbarSupportedContent">
    <%= form_tag users_path, method: :get, class: "form-inline my-2 my-lg-0 ml-md-auto", id:"users-search", remote: true do %>
      <%= text_field_tag :term, params[:username], class: "form-control mr-sm-2 text-center", placeholder: "search" %>
      <div id="users-result"></div>
      <% end %>
  </div>

  <div class="navigation-icons">
      <%= link_to '---', users_path , class: "far fa-user-circle" %>
      <%= link_to '', destroy_user_session_path , class: "fas fa-sign-out-alt" %>
  </div>
</div>